#return {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    width: min-content;
    font-size: 130%;
    padding: 10px;

    svg {
        height: 4vh;
    }
}